
@{
    ViewBag.Title = "ProcessOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success ">
                Bạn đã đặt hàng thành công, Hãy kiểm tra Email của bạn và xác nhận thông tin đơn hàng.
            </div>
        </div>
    </div>
</div>


